<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e610.capstoneproject">
    -- Permissions --
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.me"
        android:configChanges="keyboardHidden|orientation|screenSize">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.e610.capstoneproject.Activitys.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.e610.capstoneproject.Activitys.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name="com.example.e610.capstoneproject.Activitys.SignupActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.e610.capstoneproject.Activitys.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.e610.capstoneproject.Activitys.DetailedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <provider
            android:name="com.example.e610.capstoneproject.Data.AnimeProvider"
            android:authorities="3bd.el3al.AnimeSan"
            android:exported="true" />

        <receiver android:name="com.example.e610.capstoneproject.Widget.AnimeSanWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/anime_san_widget_info" />
        </receiver>
        <service
            android:name="com.example.e610.capstoneproject.Widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>